{% extends 'common/layout.html' %}

{% block title %} 任务列表 {% endblock %}
{% block body %}


<link rel="stylesheet" href="{{ url_for('static', filename='plugin/DataTables-1.10.8/css/jquery.dataTables.css')}}">

<style>
.content-wrap {
     padding: 0;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;

}
.shadow {
     padding: 0;
     -webkit-box-shadow: 0 0 20px rgba(10, 94, 204, 0.76);
     -moz-box-shadow: 0 0 20px rgba(10, 94, 204, 0.76);
     box-shadow: 0 0 20px rgba(10, 94, 204, 0.76);
}
/*typical_character_detail*/
.profile-header {
     position: relative;
    height: 260px;
}
.profile-header-top {
    height: 50%;
    font-size: 25px;
    color: #111;
    padding-top: 55px;
    padding-left: 20px;
    font-weight: bold;
    background-color: #666;
}
.profile-header-bottom {
    height: 50%;
    color: #666;
    font-size: 13px;
    padding-top: 20px;
    padding-left: 140px;
}
.profile-header-portrait {
     position: relative;
     display: inline-block;
     width: 100px;
     margin-right: 14px;
}
.profile-header-portrait > img {
     width: 100px;
     height: 100px;
     border-radius: 100%;
}
.profile-header-portrait .glyphicon {
     position: absolute;
     right: 8px;
     top: 78px;
     padding: 4px;
     color: #fff;
     border-radius: 100%;
     font-size: 12px;
     background-color: #5dc9e4;
}
.profile-header-bottom > a {
     color: #5dc9e4;
}
.profile-header-rank {
     position: absolute;
     right: 20px;
     top: 30px;
     width: 230px;
     height: 200px;
     padding: 30px 6px 0 6px;
     border: 1px solid #aaa;
     border-radius: 5px;
     border-top: none;
     background-color: #fff;
}
.rank-top {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 16px;
     color: #fff;
     text-align: center;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     background-color: #35454e;
}
.rank-top > span {
     padding: 10px;
     margin-top: -10px;
     border-radius: 100%;
     background-color: #35454e;
}
.profile-header-rank li {
     margin: 9px 0;
}
.profile-header-rank li span:first-child {
     color: #111;
     font-size: 13px;
     font-weight: bold;
}
.profile-header-rank li span:last-child {
     float: right;
     font-size: 13px;
}
.profile-body {
     margin: 10px 25px;
}
.profile-basicinfo li {
     float: left;
     width: 33.3%;
     margin: 6px 0 4px;
     text-align: center;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
}
.profile-basicinfo li > span {
     color: #666;
     font-size: 14px;
     font-weight: bold;
}
.profile-basicinfo li > p {
     margin-top: 1px;
     font-size: 21px;
     font-weight: bold;
}
.profile-table {
     font-weight: bold;
     font-size: 15px;
}
.profile-table > tbody > tr > td {
     padding: 10px;
     text-align: center;
}
.profile-table td:nth-child(odd) {
     width: 15%;
     color: #3c8dbc;
     vertical-align: middle;
     white-space: nowrap;
}
.profile-table td:nth-child(even) {
     width: 35%;
}
.psy-sequence {
     height: 340px;
}
.suggested-user-wrap {
     padding: 10px 0;
}
.suggested-user-item {
     margin-bottom: 22px;
}
.suggested-user-item img {
     width: 50px;
     height: 50px;
     float: left;
     border-radius: 100%;
}
.suggested-user-item > div {
     float: left;
     margin-top: 3px;
     margin-left: 8px;
}
.suggested-user-item p {
     margin-bottom: 1px;
}
.suggested-user-title {
     margin-bottom: 15px;
     padding-left: 15px;
     color: #333;
     font-size: 15px;
     font-weight: bold;
}
</style>
<div class="content-wrap">
     <!-- Main content -->
     <section class="content">
          <div class="row">
               <div class="shadow col-md-9 col-lg-8" style="max-width: 980px">
                    <div class="profile-header">
                         <div class="profile-header-top">
                              <div class="profile-header-portrait">
                                   <img src="{{ url_for('static', filename='profile/%s.jpg' % user['screen_name'])}}">
                                   <i class="glyphicon glyphicon-ok"></i>
                              </div>
                              <span>{{ user['name'] }}</span>
                         </div>
                         <div class="profile-header-bottom">
                              <p><a href="http://twitter.com/{{ user['screen_name'] }}" target="_blank">@{{ user['screen_name'] }}</a> - joined at {{ user['created_at'] }}</p>
                              <p>{{ user['description'] }}</p>
                              <p><i class="glyphicon glyphicon-map-marker"></i> {{ user['location'] }}</p>
                         </div>
                         <div class="profile-header-rank">
                              <div class="rank-top">
                                   <span class="glyphicon glyphicon-tags"></span>
                              </div>
                              <ul>
                                   <li><span>Status</span><span class="label label-primary">{{ user['statuses_count'] }}</span></li>
                                   <li><span>Friends</span><span class="label label-info">{{ user['friends_count'] }}</span></li>
                                   <li><span>Followers</span><span class="label label-warning">{{ user['followers_count'] }}</span></li>
                                   <li><span>Follower/Following</span><span class="label label-success">{{ user['ratio'] }}</span></li>
                                   <li><span>Favorites</span><span class="label label-danger">{{ user['favourites_count'] }}</span></li>
                              </ul>
                         </div>
                    </div>
                    
                    <div class="profile-body">
                         <div class="panel panel-success profile-basicinfo">
                             <div class="panel-heading">
                                 <h3 class="panel-title">基础信息</h3>
                             </div>
                             <div class="panel-body" style="padding-bottom: 0">
                                   <ul class="clearfix">
                                        <li>
                                             <span>Join Date</span>
                                             <p>{{ user['created_at'] }}</p>
                                        </li>
                                        <li>
                                             <span>Lang</span>
                                             <p>{{ user['lang'] }}</p>
                                        </li>
                                        <li>
                                             <span>Protected</span>
                                             <p>{{ True if user['protected'] else False }}</p>
                                        </li>
                                        <li>
                                             <span>Time Zone</span>
                                             <p>{{ user['time_zone' ]}}</p>
                                        </li>
                                        <li>
                                             <span>Verified</span>
                                             <p>{{ True if user['verified'] else Flase }}</p>
                                        </li>
                                        <li>
                                             <span>Utc Offset</span>
                                             <p>{{ user['utc_offset'] }}</p>
                                        </li>
                                        <li>
                                             <span>Geo Enabled</span>
                                             <p>{{ True if user['geo_enabled'] else False }}</p>
                                        </li>
                                        <li>
                                             <span>Crawler Date</span>
                                             <p>{{ user['crawler_date'] }}</p>
                                        </li>
                                        <li>
                                             <span>Last Tweet Start Time</span>
                                             <p>{{ user['psy_tweets_starttime'] }}</p>
                                        </li>
                                   </ul>
                             </div>
                         </div>

                         <div class="panel panel-info">
                              <div class="panel-heading">
                                   <h3 class="panel-title">人物画像</h3>
                              </div>
                              <div class="panel-body" style="padding-bottom: 0">
                                   <table class="table table-bordered table-striped profile-table">
                                        <tbody>
                                             <tr>
                                                  <td>用户分类</td>
                                                  <td>{{ user['category'] }}</td>
                                                  <td>影响力等级</td>
                                                  <td>{{ user['rank_influ'] }}</td>
                                             </tr>
                                             <tr>
                                                  <td>影响力分数</td>
                                                  <td>{{ user['influence_score'] }}</td>
                                                  <td>心理状态</td>
                                                  <td>{{ user['psy'] }}</td>
                                             </tr>
                                             <tr>
                                                  <td>兴趣标签</td>
                                                  <td colspan=3>{{ user['interest_tags'] }}</td>
                                             </tr>
                                             <tr>
                                                  <td>心理状态变化</td>
                                                  <td colspan=3 style="padding: 0">
                                                       <div id="psy-sequence" data-seq="{{ user['psy_seq'] }}"" class="psy-sequence">
                                                       </div>
                                                  </td>
                                             </tr>
                                        </tbody>
                                   </table>  
                             </div>
                         </div>
                    </div>
               </div>
               <div class="col-md-3 col-lg-2" style="padding-left: 25px;">
                    <div class="shadow suggested-user-wrap clearfix" >
                         <p class="suggested-user-title">Suggested Users</p>
                         <ul>
                              {% for user in related_users %}
                                   <li class="suggested-user-item col-xs-6 col-sm-4 col-md-12">
                                        <img src="{{ url_for('static', filename='profile/%s.jpg' % user['screen_name'])}}" alt="">
                                        <div>
                                             <p>{{ user['name'] }}</p>
                                             <a href="{{ '/typical_character_detail/%s' % user['_id'] }}">@ {{ user['screen_name'] }}</a>
                                        </div>
                                   </li> 
                              {% endfor %}
                         </ul>
                    </div>
               </div>
       </div>
     </section>
</div>

<script src="{{ url_for('static', filename='plugin/echarts.simple.min.js') }}"></script>
<script>
     $(function() {
          var myChart = echarts.init(document.getElementById('psy-sequence'));
          var seq = $("#psy-sequence").attr('data-seq'),
          psyArr = seq.split(",");
          xAxis = psyArr.map(function(value, i){
               return i;
          }),
          option = {
               title: {
                   text: '人物心理状态变化',
               },
               tooltip: {
                   trigger: 'axis'
               },
               xAxis:  {
                   type: 'category',
                   boundaryGap: false,
                   data: xAxis
               },
               yAxis: {
                   type: 'value',
                   axisLabel: {
                       formatter: '{value}'
                   }
               },
               series: [
                   {
                       name:'心理状态',
                       type:'line',
                       data:psyArr,
                   }
               ]
          };
          myChart.setOption(option);
     })
</script>
{% endblock %}