{% extends 'common/layout.html' %} {% block title %} 用户画像 {% endblock %} {% block body %}


<link rel="stylesheet" href="{{ url_for('static', filename='plugin/DataTables-1.10.8/css/jquery.dataTables.css')}}">

<style>
    p {margin-bottom: 6px;}
    .content-wrap {
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .panel-title {font-size: 15px; margin-top: 2px;}
    .tab-content { margin-top: 0;}
    .dataTables_wrapper .dataTables_length {float: right}
    .deepth {position: absolute; font-size: 15px; z-index: 10;font-weight: bold;}
    .deepth select {width: 48px;}
    .tab-pane {position: relative;}
    .suggested-users{padding-left: 0}
    .table a {font-size: 14px; margin-right: 11px;}
    @media screen and (min-width: 1100px) {.suggested-users{padding-left: 25px; max-width: 280px}}
</style>
<div class="content-wrap">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-9 col-lg-8" style="max-width: 980px">
                <div class="profile-header shadow">
                    <div class="profile-header-top">
                        <div class="profile-header-portrait">
                            <img src="{{ url_for('static', filename='profile/%s.jpg' % user['screen_name'])}}"> {% if user['verified'] %}
                            <i class="glyphicon glyphicon-ok"></i> {% endif %}
                        </div>
                        <span>{{ user['name'] }}</span>
                    </div>
                    <div class="profile-header-bottom">
                        <p><a href="http://twitter.com/{{ user['screen_name'] }}" target="_blank">@{{ user['screen_name'] }}</a> - joined at {{
                            user['created_at'] }}</p>
                        <p style="width: calc(100% - 270px)">{{ user['description'] }}</p>
                        <p>
                            {% if user['location'] %}
                            <i class="glyphicon glyphicon-map-marker"></i> {{ user['location'] }} {% endif %}
                        </p>
                    </div>
                    <div class="profile-header-rank">
                        <div class="rank-top">
                            <span class="glyphicon glyphicon-tags"></span>
                        </div>
                        <ul>
                            <li><span>Status</span><span class="label label-primary">{{ user['statuses_count'] }}</span></li>
                            <li><span>Friends</span><span class="label label-info">{{ user['friends_count'] }}</span></li>
                            <li><span>Followers</span><span class="label label-warning">{{ user['followers_count'] }}</span></li>
                            <li><span>Follower/Following</span><span class="label label-success">{{ user['ratio'] }}</span></li>
                            <li><span>Favorites</span><span class="label label-danger">{{ user['favourites_count'] }}</span></li>
                        </ul>
                    </div>
                </div>

                <div class="profile-body">
                    <div class="shadow panel-success profile-basicinfo">
                        <div class="panel-heading">
                            <h3 class="panel-title">基础信息</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped profile-table">
                                <tbody>
                                    <tr>
                                        <td>用户 ID</td>
                                        <td>{{ user['_id'] }}</td>
                                        <td>推文数</td>
                                        <td>{{ user['statuses_count'] }}</td>
                                    </tr>
                                    <tr>
                                        <td>加入日期</td>
                                        <td>{{ user['created_at'] }}</td>
                                        <td>语言</td>
                                        <td>{{ user['lang'] }}</td>
                                    </tr>
                                    <tr>
                                        <td>隐私保护</td>
                                        <td>{{ '已设置' if user['protected'] else '未设置' }}</td>
                                        <td>时区</td>
                                        <td>{{ user['time_zone'] if user['time_zone'] else ''}}</td>
                                    </tr>
                                    <tr>
                                        <td>官方认证</td>
                                        <td>{{ '已认证' if user['verified'] else '未认证' }}</td>
                                        <td>UTC偏移量</td>
                                        <td>{{ user['utc_offset'] if user['utc_offset'] else ''}}</td>
                                    </tr>
                                    <tr>
                                        <td>Geo状态</td>
                                        <td>{{ '已开启' if user['geo_enabled'] else '未开启' }}</td>
                                        <td>抓取日期</td>
                                        <td>{{ user['crawler_date'] }}</td>
                                    </tr>
                                    <tr>
                                        <td>最新推文</td>
                                        <td>{{ user['psy_tweets_starttime'] }}</td>
                                        <td>粉丝朋友比</td>
                                        <td>{{ user['ratio'] }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel-info shadow">
                        <div class="panel-heading">
                            <h3 class="panel-title">人物画像</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped profile-table">
                                <tbody>
                                    <tr>
                                        <td>用户分类</td>
                                        <td>{{ user['category'] }}</td>
                                        <td>心理状态</td>
                                        {% if user['psy'] == 1 %}
                                        <td>正面</td>
                                        {% elif user['psy'] == -1 %}
                                        <td>负面</td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>影响力分数</td>
                                        <td>
                                            {{ user['influence_score'] }}
                                        </td>
                                        <td>影响力等级</td>
                                        <td>
                                            {% if user['rank_influ'] == 1 %} 低 
                                            {% elif user['rank_influ'] == 2 %} 中 
                                            {% elif user['rank_influ'] == 3 %} 高 
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>活跃度</td>
                                        <td colspan=3>
                                            {{ user['activity'] }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>兴趣标签</td>
                                        <td colspan=3>{{ user['interest_tags'] }}</td>
                                    </tr>
                                    <tr>
                                        <td>心理状态变化</td>
                                        <td colspan=3 style="padding: 0">
                                            <div id="psy-sequence" data-seq="{{ user['psy_seq'] }}" class="psy-sequence ">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>活跃度变化</td>
                                        <td colspan=3 style="padding: 0 ">
                                            <div id="activity-sequence" data-seq="{{ user[ 'activity_list']}}" class="psy-sequence">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel-warning shadow">
                        <div class="panel-heading">
                            <h3 class="panel-title">人物关系</h3>
                        </div>
                        <div class="panel-body">
                            <ul id="realtion-tab" class="nav nav-tabs" style="margin-top: 20px">
                                <li class="active">
                                    <a href="#friends" data-toggle="tab">朋友</a>
                                </li>
                                <li>
                                    <a href="#followers" data-toggle="tab">粉丝</a>
                                </li>
                                <li>
                                    <a href="#dfans" data-toggle="tab">互粉</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active in fade" id="friends">
                                    <div class="deepth">
                                        关系深度: 
                                        <select>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                        </select>
                                    </div>
                                    <div class="table-wrap">
                                        <table id="friends-table" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>screen_name</th>
                                                    <th>推文数</th>
                                                    <th>朋友数</th>
                                                    <th>粉丝数</th>
                                                    <th>类别</th>
                                                    <th>影响力</th>
                                                    <th>操作</th>
                                                </tr>
                                                <tbody>
                                                </tbody>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="followers">
                                    <div class="deepth">
                                        关系深度: 
                                        <select>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                        </select>
                                    </div>
                                    <div class="table-wrap">
                                        <table id="followers-table" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>screen_name</th>
                                                    <th>推文数</th>
                                                    <th>朋友数</th>
                                                    <th>粉丝数</th>
                                                    <th>类别</th>
                                                    <th>影响力</th>
                                                    <th>操作</th>
                                                </tr>
                                                <tbody>
                                                </tbody>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="dfans">
                                    <div class="table-wrap">
                                        <table id="dfans-table" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>screen_name</th>
                                                    <th>推文数</th>
                                                    <th>朋友数</th>
                                                    <th>粉丝数</th>
                                                    <th>类别</th>
                                                    <th>影响力</th>
                                                    <th>操作</th>
                                                </tr>
                                                <tbody>
                                                </tbody>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="suggested-users col-xs-12 col-md-3 col-lg-3">
                <div class="shadow suggested-user-wrap clearfix">
                    <p class="suggested-user-title">Suggested Users</p>
                    <ul>
                        {% for user in related_users %}
                        <li class="suggested-user-item col-xs-6 col-sm-4 col-md-12">
                            <img src="{{ url_for('static', filename='profile/%s.jpg' % user['screen_name'])}}" alt="">
                            <div>
                                <p>{{ user['name'] }}</p>
                                <a href="{{ '/typical_character_detail/%s' % user['_id'] }}">@ {{ user['screen_name'] }}</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="mask none">
            <div class="relation-path-wrap col-lg-5 col-md-7 col-sm-9">
                <span class="mask-close">×</span>
                <div class="relation-path-content">
                </div>
            </div>
        </div>
    </section>
</div>
<script src="{{ url_for('static',filename='plugin/DataTables-1.10.8/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugin/echarts.min.js') }}"></script>
<script>
    $(function () {
        $(".deepth select").change(function() {
            $(this).parent(".deepth").next(".table-wrap").find("select").trigger('change');
        });
        $(".mask-close").click(function() {
            $(".mask").addClass('none');
            $("body").removeClass('over-hidden');
        });

        $("#friends-table").on('click', '.relation-path-link', function() {
            $('.relation-path-content').empty();
            var id = $(this).attr('data-id');
            $(".mask").removeClass('none');
            $("body").addClass('over-hidden');
            $.get("/typical_friends_path/{{ user['_id'] }}/" + id + "/" + $('#friends .deepth select').val(), function(data){
                var paths = data['paths'];
                paths.forEach(function(path, globalIndex) {
                    var item = $("<div class='relation-path-item'>").appendTo($('.relation-path-content'));
                    var myChart = echarts.init(item[0]),
                        option = getPathOption(path, globalIndex);
                   
                    myChart.setOption(option);
                })
            })
        });

        $("#followers-table").on('click', '.relation-path-link', function() {
            $('.relation-path-content').empty();
            var id = $(this).attr('data-id');
            $(".mask").removeClass('none');
            $("body").addClass('over-hidden');
            $.get("/typical_followers_path/{{ user['_id'] }}/" + id + "/" + $('#followers .deepth select').val(), function(data){
                var paths = data['paths'];
                paths.forEach(function(path, globalIndex) {
                    var item = $("<div class='relation-path-item'>").appendTo($('.relation-path-content'));
                    var myChart = echarts.init(item[0]),
                        option = getPathOption(path, globalIndex);

                    myChart.setOption(option);
                })
            })
        });

        var myChart = echarts.init(document.getElementById('psy-sequence'));
        var seq = $("#psy-sequence").attr('data-seq'),
            option = getSequenceOption(seq.split(","), '心理状态');

        myChart.setOption(option);

        myChart = echarts.init(document.getElementById('activity-sequence'));
        seq = $("#activity-sequence").attr('data-seq');
        option = getSequenceOption(seq.split(","), '活跃度', true);

        myChart.setOption(option);

        var tableConfig = {
            language: {
                "sProcessing": "正在获取数据，请稍后...",
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "",
                "sInfoPostFix": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                }
            },
            "bSort": false,
            "bPaginate": true,
            "bLengthChange": true,
            "searching": false,
            "bProcessing": true,
            "bServerSide": true,
            "iDisplayLength": 10,
            "aLengthMenu": [10, 20, 40, 100],
            "aoColumns": [{
                    "mDataProp": "screen_name"
                },{
                    "mDataProp": "statuses_count"
                },{
                    "mDataProp": "friends_count"
                },{
                    "mDataProp": "followers_count"
                },{
                    "mDataProp": "category"
                },{
                    "mDataProp": "influence_score"
                },{
                    "mDataProp": "influence_score"
                }
            ]
        };
        tableConfig["fnServerData"] = retrieveData1;
        tableConfig["sAjaxSource"] = "{{ '/get_typical_followers/%s' % user['_id'] }}",
        $('#followers-table').dataTable(tableConfig);

        tableConfig["fnServerData"] = retrieveData2;
        tableConfig["sAjaxSource"] = "{{ '/get_typical_friends/%s' % user['_id'] }}",
        $('#friends-table').dataTable(tableConfig);

        tableConfig["fnServerData"] = retrieveData3;
        tableConfig["sAjaxSource"] = "{{ '/get_typical_dfans/%s' % user['_id'] }}",
        $('#dfans-table').dataTable(tableConfig);
    });

    function getPathOption(path, globalIndex) {
        var relation = [];
        for(var i = 0, len = path.length;i < len - 1;i++) {
            relation.push({source: i, target: i + 1});
        }

        var pathOption = {
            legend: {
                data: ['人物关系']
            },
            series: [{
                type: 'graph',
                layout: 'none',
                symbolSize: 20,
                edgeSymbol: ['circle', 'arrow'],
                edgeLabel: {
                    normal: {
                        show: true,
                        formatter:'follow',
                        textStyle: {
                            fontSize: 14,
                            fontWeight: 'bold'
                        }
                    }
                },
                animation: true,
                label: {
                    normal: {
                        show:true,
                        position: 'bottom',
                        textStyle: {
                            fontSize: 14,
                            fontWeight: 'bold'
                        }
                    }
                },
                draggable: true,
                data: path.map(function(value, index) {
                    return {
                        name: value.name, 
                        x: 16 * index, 
                        y: globalIndex % 2 ? index % 2 ? 99 : 101 : index % 2 ? 101 : 99
                    }
                }),
                edges: relation,
                lineStyle: {
                    normal: {
                        opacity: 0.9,
                        width: 2,
                        curveness: 0,
                        color: '#c23531'
                    }
                }
            }]
        };

        return pathOption;
    }

    function getSequenceOption(dataArr, name, minYFlag) {
        var xAxis = dataArr.map(function (value, i) {
            return i;
        });

        if(minYFlag) {
            var minV = Infinity;

            dataArr.forEach(function(v) {
                if (minV > +v) {
                    minV = +v;
                }
            })

            minV = Math.floor(minV);
        }

        var option = {
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                type: 'category',
                boundaryGap: true,
                data: xAxis
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value}'
                },
                min: minYFlag ? minV - 3 > 0 ? minV - 3 : 0 : undefined
            },
            series: [{
                name: name,
                type: 'line',
                data: dataArr,
                itemStyle: {
                    normal: {
                        color: '#3c8dbc',
                        lineStyle: {
                            color: '#3c8dbc'
                        }
                    }
                },
            }]
        };

        return option;
    }

    function retrieveData1(sSource111, aoData111, fnCallback111) {
        $.ajax({
            url: sSource111, //这个就是请求地址对应sAjaxSource
            data: {
                "aoData": JSON.stringify(aoData111),
                "deepth": $("#followers .deepth select").val()
            }, //这个是把datatable的一些基本数据传给后台,比如起始位置,每页显示的行数
            type: 'post',
            dataType: 'json',
            async: false,
            success: function (result) {
                fnCallback111(result); //把返回的数据传给这个方法就可以了,datatable会自动绑定数据的
                var trList = $("#followers-table tbody tr");
                var employee_id, id;
                if (result['aaData'].length == 0) {
                    return;
                }
                var data = result['aaData'];
                trList.each(function (i) {
                    var a = $("<a>").attr('href', "/typical_character_detail/" + data[i]['user_id']).text("详情");
                    var r = $("<a class='relation-path-link'>").attr('data-id', data[i]['user_id']).text("关系");
                    $(this).find('td').last().empty().append(r).append(a);
                });
            }
        });
    }

    function retrieveData2(sSource111, aoData111, fnCallback111) {
        $.ajax({
            url: sSource111,
            data: {
                "aoData": JSON.stringify(aoData111),
                "deepth": $("#friends .deepth select").val()
            },
            type: 'post',
            dataType: 'json',
            async: false,
            success: function (result) {
                fnCallback111(result);
                var trList = $("#friends-table tbody tr");
                var employee_id, id;
                if (result['aaData'].length == 0) {
                    return;
                }
                var data = result['aaData'];
                trList.each(function (i) {
                    var a = $("<a>").attr('href', "/typical_character_detail/" + data[i]['user_id']).text("详情");
                    var r = $("<a class='relation-path-link'>").attr('data-id', data[i]['user_id']).text("关系");
                    $(this).find('td').last().empty().append(r).append(a);
                });
            }
        });
    }

    function retrieveData3(sSource111, aoData111, fnCallback111) {
        $.ajax({
            url: sSource111,
            data: {
                "aoData": JSON.stringify(aoData111)
            },
            type: 'post',
            dataType: 'json',
            async: false,
            success: function (result) {
                fnCallback111(result);
                var trList = $("#dfans tbody tr");
                var employee_id, id;
                if (result['aaData'].length == 0) {
                    return;
                }
                var data = result['aaData'];
                trList.each(function (i) {
                    var a = $("<a>").attr('href', "/typical_character_detail/" + data[i]['user_id']).text("详情");
                    $(this).find('td').last().empty().append(a);
                });
            }
        });
    }
</script>
{% endblock %}