/*common*/
ul {
    padding: 0;
}
.w {
     width: 100%
}
.h {
    height: 100%;
}
.fl { 
    float: left;
}
.fr { 
    float: right;
}
.none { 
    display: none;
}
.b{
    font-weight: bold;
}
.cl{
    clear: left;
}
.cr{
    clear: right;
}
.cb{
    clear: both;
}
.pr {
    position: relative;
}
.inline {
    display: inline;
}
.label {
    padding: 0.3em .6em .3em;
}
thead {
    font-size: 15px;
}
li {
    list-style: none;
}
.over-hidden {
    overflow: hidden;
}
.mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    background-color: rgba(120, 120, 120, .6)
}
.shadow {
    padding: 0;
    margin-bottom: -10px;
    /* -webkit-box-shadow: 0 0 20px rgba(10, 94, 204, 0.76);
    -moz-box-shadow: 0 0 20px rgba(10, 94, 204, 0.76);
    box-shadow: 0 0 10px rgba(10, 94, 204, 0.76); */
}
/*login*/
#login-wrap {
    width: 380px;
    margin: 0 auto;
    margin-top: 130px;
}
.login-title {
    color: #3c8dbc;
    margin-bottom: 30px;
    text-align: center;
}
.login-form {
    padding: 18px 37px;
    box-shadow: 0 0 20px #b4b4b4;
    border-radius: 6px;
    background-color: #f8f8f8; 
}
.login-form label {
    color: #4f5d80;
    text-transform: uppercase;
    font-size: 13px;
    margin: 16px 0 3px;
}
.login-form .btn {
    margin-top: 16px;
    outline: none;
}

/*top*/
/*nav-top*/
.dropdown-menu {
    background-color: #222;
    color: #fff;
}
.dropdown-menu > li > a {
    color: #9d9d9d;
    padding: 6px 20px;
}
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover {
    background-color: #080808;
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}

/*nav-side*/
.side-bar {
    position: fixed;
    width: 200px;
    height: 100%;
    left: 0;
    top: 50px;
    background-color: #222;
}
.side-bar li {
    list-style: none outside none;
}
.nav-list-item a {
    display: inline-block;
    width: 100%;
    height: 46px;
    color: #b8c7ce;
    font-size: 14px;
    line-height: 46px;
}
.nav-list-item a:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.nav-list-item.active > a {
    color: #fff;
}
.nav-list-item > a {
    padding-left: 10px; 
}
.nav-list-item > a .glyphicon:first-child {
    font-size: 13px;
    margin: 0 7px 0 10px;
}
.nav-list-item .glyphicon-chevron-right {
    font-size: 10px;
    margin-top: 16px;
    margin-right: 10px;
}
.nav-list-item.active > a .glyphicon-chevron-right {
    transform: rotate(90deg);
    -moz-transition: transform 255ms; 
    -webkit-transition: transform 255ms;
    -ms-transition: transform 255ms;  
    transition: transform 255ms;
}
.sub-list li a {
    padding-left: 26px;
    text-decoration: none;
    background-color: #1a1a1a;
}
.sub-list {
    display: none;
}

/*main-content*/
.main-content {
    position: absolute;
    left: 200px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}
.page-content {
    height: 100%;
}
.page-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.page-content .current {
    z-index: 99;
}
.panel-heading {
    padding: 11px
}
.panel-primary > .panel-heading {
    background-color: rgba(0, 84, 183, 0.53);
    border-color: rgba(59, 98, 138, 0.8);
}

/*table*/
.table-fixed {
    table-layout: fixed;
}
.table-wrap {
    font-size:15px;
    margin-top: 15px;
}
.table a {
    cursor: pointer;
}
.table tbody tr:hover {
    background-color: #f4f4f4;
}
.table-bordered {    
    border: 1px solid #f4f4f4;
}
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
    word-wrap: break-word;
    border: 1px solid #f4f4f4;
}
.table-bordered > thead > tr > th {
    color: #3c8dbc;
    text-align: center;
    border: none;
    white-space: nowrap;
    border-top: none;
}

/*task-list*/
.dataTables_filter input {
    width: 150px;
    height: 31px;
    outline: none;
    padding: 0 4px;
    border: 1px solid #ddd;
    border-radius: 2px;
    transition: all .2s ease-in-out;
}
.dataTables_filter input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 15px #66afe9;
}
.content-wrap {
    padding: 20px 25px;
    margin: 30px 50px 20px 35px;
    -webkit-box-shadow: 0 0 20px rgba(10, 94, 204, 0.76);
    -moz-box-shadow: 0 0 20px rgba(10, 94, 204, 0.76);
    box-shadow: 0 0 20px rgba(10, 94, 204, 0.76);
    background-color: rgba(255, 255, 255, 0.79);
}

/*task-add*/
.num_input {
    height: 34px;
    width: 170px;
    margin-left: 20px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    display: none;
}
input[type='checkbox']:checked + label + .num_input {
    display: inline;
}
/*system_help*/
.system-help li {
    list-style-type: none;
    line-height: 38px;
    font-size: 15px;
}
.system-help .label {
    font-size: 14px;
    padding: 0.4em 0.6em 0.4em;
}

/*tweet-search*/
.view-more {
    padding: 8px 0;
    text-align: center;
    background: #f0f0f0;
    cursor: pointer;
}

/*user-profile*/
.profile-img {
    text-align: center;
}
.profile-img > img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.profile-img + h3 {
    margin-top: 10px;
}

/*user-profile*/
.tab-content {
    margin-top: 20px;
    overflow: auto;
}
.nav-tabs {
    font-size: 15px;
}

/*typical_character_detail*/
.profile-header-top {
    height: 50%;
    background-color: #5dc9e4;
}
.profile-header-bottom {
    height: 50%;
}

/*typical_character_detail*/
.profile-header {
    position: relative;
    height: 190px;
}
.profile-header-top {
    height: 50%;
    font-size: 25px;
    color: #111;
    padding-top: 30px;
    padding-left: 20px;
    font-weight: bold;
    background-color: #666;
}
.profile-header-bottom {
    height: 50%;
    color: #666;
    font-size: 13px;
    padding-top: 12px;
    padding-left: 140px;
}
.profile-header-portrait {
     position: relative;
     display: inline-block;
     width: 100px;
     margin-right: 14px;
}
.profile-header-portrait > img {
     width: 100px;
     height: 100px;
     border-radius: 100%;
}
.profile-header-portrait .glyphicon {
     position: absolute;
     right: 8px;
     top: 78px;
     padding: 4px;
     color: #fff;
     border-radius: 100%;
     font-size: 12px;
     background-color: #5dc9e4;
}
.profile-header-bottom > a {
     color: #5dc9e4;
}
.profile-header-rank {
	position: absolute;
    right: 20px;
    top: 11px;
    width: 230px;
    height: 170px;
    padding: 15px 6px 0 6px;
    border: 1px solid #aaa;
    border-radius: 5px;
    border-top: none;
    background-color: #fff;
}
.rank-top {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 16px;
     color: #fff;
     text-align: center;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     background-color: #35454e;
}
.rank-top > span {
     padding: 10px;
     margin-top: -10px;
     border-radius: 100%;
     background-color: #35454e;
}
.profile-header-rank li {
     margin: 9px 0;
}
.profile-header-rank li span:first-child {
     color: #111;
     font-size: 13px;
     font-weight: bold;
}
.profile-header-rank li span:last-child {
     float: right;
     font-size: 13px;
}
.profile-basicinfo li {
     float: left;
     width: 33.3%;
     margin: 6px 0 4px;
     text-align: center;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
}
.profile-basicinfo li > span {
     color: #666;
     font-size: 14px;
     font-weight: bold;
}
.profile-basicinfo li > p {
     margin-top: 1px;
     font-size: 21px;
     font-weight: bold;
}
.profile-table {
     font-weight: bold;
     font-size: 15px;
     table-layout: fixed
}
.profile-table > tbody > tr > td {
     padding: 10px;
     text-align: center;
}
.profile-table > tbody > tr > td:nth-child(odd) {
     width: 15%;
     color: #3c8dbc;
     vertical-align: middle;
}
.profile-table > tbody > tr > td:nth-child(even) {
     width: 35%;
}
.psy-sequence {
     height: 180px;
}
.suggested-user-item {
     margin-bottom: 22px;
}
.suggested-user-item img {
     width: 50px;
     height: 50px;
     float: left;
     border-radius: 100%;
}
.suggested-user-item > div {
     float: left;
     margin-top: 3px;
     margin-left: 8px;
}
.suggested-user-item p {
     margin-bottom: 1px;
}
.suggested-user-title {
    padding: 10px 0 15px;
    padding-left: 15px;
    color: #3c8dbc;
    font-size: 15px;
    font-weight: bold;
    background-color: #f0f0f0;
}
.relation-path-wrap {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80%;
    margin: 5% auto 2%;
}
.relation-path-content {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden; 
    padding: 12px 0;
    background-color: #fff;
}
.relation-path-item {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-bottom: 1px dashed #eee;
}
.relation-path-item:last-child {
    border-bottom: none;
}
.mask-close {
    position: absolute;
    right: 20px;
    top: -10px;
    font-size: 32px;
    color: #c23531;
    cursor: pointer;
    z-index: 1000;
}

.data-statistics-item {
    width: 100%;
    height: 300px;
    max-width: 1000px;
}

.nav-list-item .glyphicon-chevron-right {
	transform: scale(0.8);
}
/*response*/
@media (max-width: 768px) {
    .side-bar {
        display: none;
    }
    .main-content {
        left: 0;
    }
    .content-wrap {
        padding: 20px 10px;
        margin: 15px 15px 10px 15px;
    }
    #user-help {
        display: inline-block;
        margin-top: 20px;
        margin-left: 16px;
    }
}