{% extends 'common/layout.html' %}

{% block title %} 系统说明 {% endblock %}
{% block body %}

<div class="content-wrap">
	<div class="panel panel-primary sys-info">
		<div class="panel-heading">
			<h3 class="panel-title">系统说明</h3>
		</div>
		<div class="panel-body system-help">
			<ul>
				<li><span class="label label-danger">任务列表</span> &nbsp;查看已提交任务相关信息</li>
				<li><span class="label label-warning">任务添加</span> &nbsp;提交任务后台执行，抓取信息保存在数据库中</li>
				<li><span class="label label-info">文件上传</span> &nbsp;上传文件，创建任务后台抓取文件中所有用户的相关信息</li>
				<li><span class="label label-success">用户查询</span> &nbsp;根据用户screen_name查看相关用户的基础信息以及部分朋友信息/粉丝信息/推文信息
				</li>
				<li><span class="label label-primary">关系查询</span> &nbsp;根据用户screen_name查询用户的人物关系信息或者确定两个用户之间的关系
				</li>
				<li><span class="label label-danger">推文查询</span> &nbsp;根据用户screen_name查询用户的所有推文信息</li>
				<li><span class="label label-warning">典型人物</span> &nbsp;标准人物样本库典型人物列表</li>
				<li><span class="label label-info">新增样本</span> &nbsp;添加用户到标准人物样本库中</li>
				<li><span class="label label-success">数据统计</span> &nbsp;标准人物样本库中人物信息的数据统计</li>
				<li><span class="label label-primary">用户分类</span> &nbsp;标准人物样本库中用户分类信息的数据统计</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
