{% extends 'common/layout.html' %}

{% block title %} 推文查询 {% endblock %}
{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='plugin/DataTables-1.10.8/css/jquery.dataTables.css')}}">

<div class="content-wrap">
	<div class="clearfix input-group">
		<input class="form-control"  type="text" placeholder="请输入人物名称" style="width:200px">
		<span class="input-group-btn fl">
            <button class="btn btn-primary" type="button">查询</button>
        </span>
	</div>

	<table class="table table-border" style="font-size:15px;margin-top: 14px;">
		<thead>
			<tr>
				<th>推文内容</th>
				<th>创建日期</th>
				<th>喜欢数</th>
				<th>转推数</th>
				<th>语言</th>
				<th>来源</th>
				<th>标签</th>
				<th>坐标</th>
				<th>操作</th>
			</tr>
			<tbody>
			</tbody>
		</thead>
	</table>
	<div class="view-more hidden"><a>查看更多推文</a></div>
</div>

<script type="text/javascript">
	$(function() {
		$("button").click(function () {
			var val = $('input').val().trim();
			if(val === '') {
				alert('人物名称不能为空');
				return;
			}

			getUserTweets(val);
		})
	})

	function getUserTweets(screen_name, max_id) {
		if(screen_name === '') {
			return;
		}
		if(max_id == null) {
			max_id = 0
		}
		$.post("{{ url_for('get_user_tweets') }}", {screen_name: screen_name, max_id: max_id}, function(data) {
			if(data.length < 25) {
				$(".view-more").addClass('hidden');
			}
			for(var i = 0, len = data.length;i < len;i++) {
				console.log(data[i])
			}
		})
	}
</script>
{% endblock %}