{% extends 'common/layout.html' %}

{% block title %} 用户查询 {% endblock %}
{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='plugin/DataTables-1.10.8/css/jquery.dataTables.css')}}">

<div class="content-wrap">
	<div class="clearfix input-group">
		<input class="form-control"  type="text" placeholder="请输入人物名称" style="width:200px">
		<span class="input-group-btn fl">
            <button class="btn btn-primary" type="button">查询</button>
        </span>
	</div>
	<iframe src="" class="hidden"></iframe>
</div>
	<script type="text/javascript">
		$(function() {
			$('button').click(function () {
				var screen_name = $("input[type='text']").val().trim();
				if(screen_name == '') {
					alert('用户名称不能为空');
					return;
				}
				location.href = "/user_profile/" + screen_name;
			})
		})
	</script>

{% endblock %}